<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>
<body>
<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
    <div class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item" href="/settings">Settings</a>
            <a class="navbar-item" href="/logout">Logout</a>
        </div>
    </div>
</nav>
<div class="main tile is-ancestor">
    <div class="users tile is-2 is-parent">
        <div class="tile box is-child">
            <h1 class="title is-4 is-spaced">Currently Online:</h1>
            <ul>
                <li><a href="#">user1</a></li>
                <li><a href="#">user2</a></li>
            </ul>
        </div>
    </div>

    <div class="tile is-vertical is-8 is-parent">
        <article class="tile box is-child">
            <form action="" method = "post">
                <div class="field">
                    <div class="control">
                        <input class="input" type="text" placeholder="Write something...">
                    </div>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button">Post</button>
                    </div>
                </div>
            </form> 
        </article>
        <article class="tile box is-child">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">user1</p>
                    </div>
                </div>
                <div class="content">
                    Lorem ipsum dolor sit amet
                    <br>
                    <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                </div>
                <button class="button">
                        <span class="icon is-small">
                            <i class="fa-solid fa-thumbs-up"></i>
                        </span>
                    <span>Votes: 0</span>
                </button>

            </div>
        </article>
        <article class="tile box is-child">
            <div class="card-image">
                <figure class="image">
                    <img class="post-img" src="https://bulma.io/images/placeholders/1280x960.png"
                         alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">user1</p>
                    </div>
                </div>
                <div class="content">
                    Lorem ipsum dolor sit amet
                    <br>
                    <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                </div>
                <button class="button">
                        <span class="icon is-small">
                            <i class="fa-solid fa-thumbs-up"></i>
                        </span>
                    <span>Votes: 0</span>
                </button>
            </div>
        </article>
    </div>

    <div class="tile is-2 is-parent">
        <div class="tile box is-child">
            <h1 class="title is-4 is-spaced">Direct Messages</h1>
            <ul>
                placeholder
            </ul>
        </div>
    </div>
</div>

</body>
</html>
